* {
  margin: 0;
  padding: 0;
}

.login-page,
.join-page {
  width: 450px;
  padding: 100px 0px;
  margin: 0 auto;
}
.form {
  background: #fff;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.form > form > input {
  background: var(--gray7);
  width: 100%;
  border: 0;
  margin-top: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.join-page .form button,
.member-page .submit,
.login-page .submit {
  background-color: var(--point1);
  width: 100%;
  border: 0;
  margin-top: 15px;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.changePw {
  display: block;
  background-color: var(--point1);
  width: 100%;
  border: 0;
  margin-top: 15px;
  padding: 15px 0px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.member-page .resetProfileImage {
  background-color: var(--gray5);
  color: #fff;
  width: 200px;
  height: 30px;
  display: block;
  margin: 10px auto;
  border: none;
}

.join-page .form button:hover,
.changePw:hover,
.member-page .submit:hover,
.login-page .submit:hover {
  background-color: var(--main1);
}

.form .message {
  margin: 15px 0 0;
  color: var(--gray3);
  font-size: 12px;
}
.form .message .join {
  color: var(--point1);
  text-decoration: none;
  margin-left: 5px;
}
.addr {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.addr > input {
  border: 0;
  margin-top: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.addr > input:first-child {
  background: var(--gray7);
}
.addr-btn {
  width: 100%;
  margin-left: 10px;
  background-color: var(--point1);
  color: #fff;
}
.addr-btn:hover {
  background-color: var(--main1);
}

.member-page .addr > input:first-child {
  width: 100%;
}

.input-msg.valid {
  color: #5799ff;
}
.input-msg.invalid {
  color: red;
}

.form > h2 {
  color: var(--point1);
}

.form > h3 {
  color: var(--point1);
  margin: 10px 0 5px;
}

.social-login > img {
  width: 50px;
}

.terms-wrap {
  margin-top: 20px;
}
.terms-wrap > div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.terms-wrap > div > input {
  width: 15px;
  accent-color: var(--point1);
}
.terms-wrap > div > label {
  width: 70%;
  text-align: left;
}
.terms-wrap > div > div {
  width: 20%;
  color: var(--gray3);
  font-size: 14px;
}

.modal-content {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  overflow-y: auto;
}
.modal-content > .modal-btn {
  width: 200px;
  margin: 30px auto 50px;
}
.modal-content h4 {
  margin-top: 10px;
}
.modal-content > .modal-btn > button {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  font-size: 15px;
  background-color: var(--gray5);
  color: #fff;
  border: none;
}
.modal-content table {
  border: 1px solid black;
  border-collapse: collapse;
}
.modal-content table td {
  border: 1px solid black;
  border-collapse: collapse;
}
.more-terms {
  cursor: pointer;
}

/* 비밀번호 찾기 */
.forgotPw-wrap {
  width: 450px;
  padding: 100px 0px;
  margin: 100px auto 0px;
  background: #fff;
  padding: 45px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.forgotPw-title > h2 {
  margin: 0 auto 10px;
  text-align: center;
}

.forgotPw-wrap input {
  background: var(--gray7);
  width: 100%;
  border: 0;
  margin-top: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
