.mypage-body {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--gray7);
}

.side-bar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border: 2px solid var(--point1);
  border-radius: 50%;
  margin-bottom: 15px;
}
.profile-img > img {
  width: 150px;
  height: 150px;

  border-radius: 50%;
}

.user-info div:last-child {
  font-size: 20px;
  font-family: ns-b;
  margin-top: 5px;
}

.user-info {
  margin-bottom: 20px;
}

.profile-menu {
  margin-top: 20px;
  border-top: 1px solid var(--gray6);
}

.profile-menu li {
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid var(--gray6);
  padding: 15px 0;
}
.profile-menu li > * {
  color: black;
}
.profile-menu li:hover {
  background-color: var(--gray7);
}
.profile-menu li:hover > * {
  color: var(--point1);
  font-family: ns-b;
}

.mypage-wrap {
  flex-grow: 1;
  padding: 50px;
}

.profile-wrap {
  background-color: #fff;
  padding: 50px;
}
.profile-wrap > h2,
.pet-wrap > h2 {
  margin-bottom: 20px;
  color: var(--point1);
  font-size: 30px;
}
.profile-btn-wrap,
.pet-btn-wrap {
  text-align: right;
}
.profile-wrap button,
.pet-wrap button {
  margin-top: 10px;
  background-color: var(--point1);
  border: none;
  color: #fff;
  width: 100px;
  height: 30px;
  font-family: ns-b;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

.member-addr {
  display: flex;
}
.member-addr > div:last-child {
  margin-left: 10px;
}

/* 반려동물 wrap */
.pet-wrap {
  margin-top: 50px;
  background-color: #fff;
  height: 200px;
  padding: 50px;
}

.pet-info {
  border: 1px solid var(--gray4);
}

/* 반려동물 등록 */
.pet-input-wrap {
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
}
.pet-input {
  display: flex;
  justify-content: space-between;
}

.pet-input-body {
  height: 700px;
}
.pet-breed > label {
  cursor: pointer;
}
.pet-breed > label > * {
  font-size: 100px;
}

.breed-input {
  display: none;
}

.breed-label {
  cursor: pointer;
}

.breed-icon {
  font-size: 100px;
  color: var(--gray6);
}

.breed-input:checked + .breed-icon {
  color: var(--point1);
}

.pet-gender-wrap > label {
  background-color: var(--gray6);
  display: inline-block;
  width: 100px;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
}

.pet-gender-wrap > input {
  display: none;
}

.pet-gender-wrap > input:checked + label {
  background-color: var(--point1);
}
