.mypage-body {
  display: flex;
  width: 100%;
  background-color: var(--gray7);
  min-height: 1000px;
}

.side-bar {
  min-width: 250px;
  background-color: #fff;
  padding: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border: 2px solid var(--point1);
  border-radius: 50%;
  margin-bottom: 15px;
}
.profile-img > img {
  width: 150px;
  height: 150px;

  border-radius: 50%;
}

.user-info div:last-child {
  font-size: 20px;
  font-family: ns-b;
  margin-top: 5px;
}

.user-info {
  margin-bottom: 20px;
}

.profile-menu {
  margin-top: 20px;
  border-top: 1px solid var(--gray6);
}

.profile-menu ul {
  padding: 0;
  margin: 0;
}

.profile-menu li {
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid var(--gray6);
}

.profile-menu li > * {
  color: black;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.profile-menu li:hover {
  background-color: var(--gray7);
}

.profile-menu li:hover > * {
  color: var(--point1);
  font-family: ns-b;
}

.mypage-wrap {
  flex-grow: 1;
  padding: 50px;
}

.profile-wrap {
  background-color: #fff;
  padding: 50px;
}
.profile-wrap > h2,
.pet-wrap > h2 {
  margin-bottom: 20px;
  color: var(--point1);
  font-size: 30px;
}
.profile-btn-wrap,
.pet-btn-wrap {
  text-align: right;
  margin-top: 15px;
}
.profile-btn-wrap > *,
.pet-btn-wrap > * {
  background-color: var(--point1);
  border: none;
  color: #fff;
  width: 120px;
  height: 30px;
  font-family: ns-b;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
}
.pet-mbti-link {
  width: 800px;
  margin: 30px auto 0px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.pet-mbti-link img {
  width: 100%;
}
.pet-mbti-link img:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.member-addr {
  display: flex;
}
.member-addr > div:last-child {
  margin-left: 10px;
}

/* 반려동물 wrap */
.pet-wrap {
  margin-top: 50px;
  background-color: #fff;
  padding: 50px;
}

.pet-body {
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  min-height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.pet-body:hover {
  background-color: var(--gray7);
}

.pet-body > .pet-img {
  float: left;
  width: 100px;
  height: 100px;
}
.pet-body img {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  border: 2px solid var(--gray7);
  background-color: var(--gray7);
}

.pet-info {
  float: left;
  margin-left: 20px;
  width: 70%;
}
.pet-more-view {
  width: 20%;
  text-align: right;
}
.pet-more-view > * {
  cursor: pointer;
}
.pet-name,
.member-name {
  font-size: 18px;
  font-family: ns-b;
}

/* 반려동물 등록 */
.pet-input-body {
  background-color: var(--gray7);
  padding: 100px 0px 150px 0px;
}
.pet-input-wrap {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.pet-input-wrap > h2 {
  color: var(--point1);
  margin-bottom: 20px;
}

.pet-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pet-input label {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

.pet-input > input {
  width: 288px;
  height: 28px;
  padding-left: 10px;
}

.pet-input > select {
  width: 300px;
  height: 32px;
}

.image-upload {
  text-align: center;
  margin-bottom: 20px;
}

.pet-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--gray6);
  display: block;
  margin: 0 auto;
}

.image-upload-btn {
  display: inline-block;
  margin-top: 10px;
}

.breed-label {
  cursor: pointer;
}

.breed-icon {
  font-size: 100px;
  color: var(--gray6);
}

.breed-input:checked + .breed-icon {
  color: var(--point1);
}

.pet-gender-wrap,
.pet-neutering {
  margin-bottom: 20px;
  overflow: hidden;
}

.pet-gender-wrap > label,
.pet-neutering > label {
  background-color: var(--gray6);
  text-align: center;
  cursor: pointer;
  display: block;
  width: 150px;
  height: 30px;
}

.pet-gender-wrap > div,
.pet-neutering > div {
  width: 200px;
}

.pet-gender-wrap > *,
.pet-neutering > * {
  float: left;
}

.pet-gender-wrap > input,
.pet-neutering > input {
  display: none;
}

.pet-gender-wrap > input:checked + label,
.pet-neutering > input:checked + label {
  background-color: var(--point1);
  color: #fff;
}
.pet-breed {
  overflow: hidden;
}
.pet-breed > div:first-child {
  width: 200px;
}
.pet-breed-wrap {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.pet-breed > * {
  float: left;
}

.pet-breed label > input {
  display: none;
}

.pet-insert-btn {
  width: 100px;
  height: 40px;
  background-color: var(--point1);
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.pet-insert-btn-wrap {
  width: 150px;
  height: 40px;
  background-color: var(--point1);
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.pet-btn-insert-wrap {
  margin: 0 auto;
  text-align: center;
}

/* 회원 수정 페이지 */
.member-image {
  width: 150px;
  height: 150px;
  border: 1px solid var(--gray1);
  border-radius: 50%;
}
.member-page {
  width: 800px;
  margin: 0 auto;
}
.member-page h2 {
  margin-bottom: 20px;
}

.pet-btn-wrap > button {
  padding: 0;
}

.pet-btn-wrap > .pet-delete-btn {
  background-color: var(--gray4);
  margin-left: 10px;
}

/* 주문조회 css */
/* 주문 조회 스타일 */
.buy-list-wrap {
  background-color: #fff;
  min-height: 500px;
  padding: 50px;
}

.buy-list-wrap > h1 {
  color: var(--point1);
}

.buy-list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buy-group {
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  margin-top: 20px;
}

.buy-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.buy-list-date {
  font-size: 25px;
  font-family: ns-b;
  color: var(--gray1);
}

.view-details-button {
  margin-left: auto;
}

.view-details-button button {
  font-size: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--point2);
  display: flex;
  align-items: center;
}

.buy-state {
  font-family: ns-b;
  margin: 10px 0;
  font-size: 18px;
  color: var(--gray2);
}

.buy-item-card {
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.buy-item-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
}

.product-thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  background-color: var(--gray7);
}

.buy-item-info h3 {
  margin: 0;
  font-size: 1.2em;
}

.buy-item-info p {
  margin: 5px 0;
  color: var(--gray1);
}

.buy-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-action-buttons {
  display: flex;
  gap: 10px;
}

.buy-action-buttons .btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--point2);
  color: white;
}

.no-purchases {
  font-size: 1.2em;
  color: var(--gray3);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

/* 주문 조회 상세보기 페이지 css */
.buy-view-wrap {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.buy-view-info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-view-info h2 {
  font-size: 24px;
  margin: 0;
}

.buy-view-info p {
  font-size: 16px;
  margin: 0;
}

.buy-view-items {
  margin-bottom: 20px;
}

.buy-view-card {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.buy-view-header {
  display: flex;
  align-items: center;
  flex: 2;
}

.view-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
}

.buy-view-price-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0;
}

.buy-view-price-info h3 {
  margin: 0 0 5px 0;
}

.buy-view-price-info p {
  margin: 0;
}

.buy-view-actions {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.buy-view-state {
  font-family: ns-b;
  margin-bottom: 10px; /* 버튼과 상태 정보 사이 간격 추가 */
}

.cancelBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--gray2);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.buy-delivery-view {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.buy-delivery-view h4 {
  margin-bottom: 10px;
}

.buy-delivery-view p {
  margin: 5px 0;
}

.buy-view-wrap p:last-child {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}

.delete-buy-list {
  background-color: var(--gray2);
  color: #fff;
  border-radius: 4px;
  padding: 2px;
  margin-left: 5px;
  border: none;
}


/* 좋아요 목록 */


/* 상품 목록 스타일 */
.product-list__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.product-list__items {
  list-style-type: none;
  padding: 0;
}

.product-list__item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
}

.product-list__name,
.product-list__price {
  font-size: 18px;
}

.product-list__thumb {
  border-radius: 4px;
}

/* 좋아요한 상품이 없을 때 */
.product-list__empty {
  text-align: center;
  font-size: 18px;
  color: #888;
  margin: 20px 0;
}

/* 페이지 네비게이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item {
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.like-page {
  margin: 0 auto;
}

.pagination .active {
  background-color: var(--point1);
}
