.board-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
}
.board-nav {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.board-nav > ul {
  min-width: 1400px;
  margin-left: 280px;
}
.board-nav > ul > li {
  text-align: center;
}
.board-nav > ul > li > span {
  color: #ffa518;
  font-family: ns-b;
  border: 2px solid #ffa518;
  border-radius: 5px;
  line-height: 30px;
  padding: 10px 50px;
}
.board-nav > ul > li span:hover {
  background-color: #ffa518;
  color: #fff;
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.list-board {
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: start;
  width: 60%;
  min-height: 800px;
  padding: 50px 30px;
}
.board-list-options {
  width: 400px;
  margin-right: 500px;
}
.board-list-options > select {
  border: none;
  border-radius: 30px;
  color: var(--point1);
  border: 2px solid #ffa518;
  padding: 5px 30px;
  font-size: 16px;
}

/*글쓰기 전용 css*/
.write-wrap {
  display: flex;
  justify-content: end;
  margin-right: 50px;
}
.write-wrap > a {
  border-radius: 30px;
  color: var(--point1);
  border: 2px solid #ffa518;
  padding: 5px 30px;
}
.write-wrap > a:hover {
  background-color: #ffa518;
  color: var(--gray8);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/*자유게시판 리스트*/
.board-all-wrap {
  width: 100%;
}

.board-all-wrap > div {
  padding: 30px 20px;
}
.list-list {
  border: 2px solid #ffa518;
  border-radius: 15px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.list-list:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.start {
  display: flex;
  flex-direction: column;
}
.start > div {
  margin: 10px;
}
.end {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 10px;
}
.end > div {
  margin: 10px;
  padding-top: 18px;
}
.reply-count {
  background-color: var(--main2);
  text-align: center;
  border-radius: 10px;
}
.reply-count > div {
  padding: 0 10px;
}
.posting-img > img {
  width: 80px;
  height: 60px;
}
.posting-tag {
  display: flex;
  align-items: start;
}
.posting-tag > div {
  padding: 0 10px;
}
.posting-tag > div:first-child {
  background-color: #ffd697;
  text-align: center;
  padding: 2px auto;
  border-radius: 15px;
}
.posting-sub-info {
  display: flex;
  align-items: start;
}
.posting-sub-info > div {
  padding: 0 5px;
}
.board-content-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px auto;
}
.board-inside-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  border: 3px solid #ffa518;
  border-radius: 30px;
}

.writeFrm-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*게시글 작성 태그 nav*/
.menu1-bars > div {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.menu1-bars > div:hover {
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.menu1-bars > div > span:last-child {
  color: #ccc;
}
.nav-menu1 {
  border: 2px solid #ffa518;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 1;
  right: -100%;
  transition: 850ms;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.nav-menu1.active {
  right: 19%;
  transition: 350ms;
}

.nav-menu1-items > li > span {
  color: var(--point2);
  margin: 15px auto;
  padding: 0px 16px;
  border-radius: 4px;
  height: 100%;
  width: 95%;
}
.nav-menu1-items > li > span:hover {
  color: var(--gray8);
  background-color: var(--point2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.writeFrm-btn > div > button {
  border: 2px solid #ffa518;
  border-radius: 15px;
  padding: 2px 20px;
  background-color: transparent;
  color: #ffa518;
  margin: 15px auto;
  font-size: 16px;
}
.writeFrm-btn > div > button:hover {
  background-color: #ffa518;
  color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.writeFrm-btn > div > a {
  border: 2px solid #ffa518;
  border-radius: 15px;
  padding: 2px 20px;
  background-color: transparent;
  color: #ffa518;
  margin: 15px auto;
}
.writeFrm-btn > div > a:hover {
  background-color: #ffa518;
  color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.board-content-title {
  padding: 10px;
  margin: 10px auto;
  width: 529px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.board-img-wrap {
  display: flex;
}
.board-img-wrap > label > img {
  border: 1px solid #ffa518;
  width: 50px;
  height: 50px;
  padding: 10px 10px;
  border-radius: 15px;
  margin: 10px 10px;
}
.board-img-wrap > label:hover {
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.board-img-wrap > input {
  display: none;
}
.board-write-alert {
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
  color: #ccc;
  font-size: 14px;
  margin-top: 10px;
}

.more-list {
  display: flex;
  justify-content: center;
  border: 2px solid #ffa518;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: transparent;
  color: #ffa518;
  margin: 15px auto;
  width: 50px;
}
.more-list:hover {
  background-color: #ffa518;
  color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}

.preview-img {
  margin: 0 5px;
}
.fileimg {
  border: 1px solid #ffa518;
  width: 50px;
  height: 50px;
  padding: 10px 10px;
  border-radius: 15px;
  margin: 10px auto;
  position: relative;
}
.del-file-icon {
  position: absolute;
}

.list-list > span {
  margin-left: 43%;
}
.board-view-wrap {
  min-height: 800px;
  width: 1150px;
  margin: 50px auto;
  border: 2px solid #ffa518;
  border-radius: 15px;
  padding: 50px 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.board-view-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 10px solid var(--gray7);
}
.board-view-head {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  padding: 15px 30px;
}
.board-view-head > div:first-child {
  background-color: #ffd697;
  padding: 0 10px;
  border-radius: 15px;
  margin-right: 450px;
  padding-top: 6px;
  height: 30px;
}
.board-view-title {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ffa518;
  font-size: 20px;
  font-weight: bold;
}
.view-btn-zone {
  display: flex;
  flex-direction: column;
}
.view-btn-zone > div > a {
  background-color: #ffd697;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
}
.view-btn-zone > div:last-child > button {
  background-color: #ffd697;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
}
.board-view-memberinfo {
  display: flex;
  align-items: center;
  gap: 230px;
  margin: 30px auto;
}
.board-view-memberinfo1 {
  display: flex;
  gap: 10px;
}
.b-v-m {
  display: flex;
  padding-top: 10px;
  gap: 10px;
}
.board-view-data {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 45px;
}
.board-quill {
  margin: 10px auto;
}
.boardView-btn {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 40px auto;
}
.boardView-btn > button {
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid #ffa518;
  color: #ffa518;
  background-color: transparent;
}
.boardView-btn > button:hover {
  background-color: #ffa518;
  color: var(--gray8);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.other-board-content {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}
.other-board-content > div > span {
  font-size: 20px;
  margin-left: 10px;
}
.other-contents {
  display: flex;
  gap: 5px;
}
.other-contents > li {
  display: flex;
  align-items: start;
  flex-direction: column;
  border: 2px solid var(--gray7);
  padding: 10px 10px;
  border-radius: 15px;
  width: 220px;
}
.other-board-content > div {
  margin-bottom: 15px;
}
.reply-write-frm {
  margin-top: 20px;
}
.reply-wrap {
  border-top: 10px solid var(--gray7);
}
.reply-top-wrap {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  gap: 950px;
}
.reply-top-wrap > div:first-child {
  display: flex;
  gap: 5px;
}
.reply-input-wrap > form {
  display: flex;
}
.reply-list-options > select {
  border: none;
  border-radius: 30px;
  color: var(--point1);
  border: 2px solid #ffa518;
  padding: 5px 10px;
}
.preview-reply {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.list-list2 {
  border: 2px solid #ffa518;
  border-radius: 15px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.reply-member-wrap {
  display: flex;
  padding: 3px 5px;
}
.reply-member-wrap > div {
  margin: 5px 5px;
}
.reply-member {
  display: flex;
  gap: 5px;
  padding-top: 9px;
}
.reply-content {
  margin-top: 10px;
}
/*산책 지도*/
.distance-box {
  background-color: rgba(255, 255, 255, 0.486);
  border: 1px solid red;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}
/*스와이퍼*/
.boardSwiper {
  width: 500px;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
}
/*map*/
#pagination {
  text-align: center;
  margin-top: 20px;
}

#pagination a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
}

#pagination a.on {
  font-weight: bold;
}
