.board-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
}
.board-nav {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.board-nav > ul {
  min-width: 1400px;
  margin-left: 280px;
}
.board-nav > ul > li {
  text-align: center;
}
.board-nav > ul > li > span {
  color: #ffa518;
  font-family: ns-b;
  border: 2px solid #ffa518;
  border-radius: 5px;
  line-height: 30px;
  padding: 10px 50px;
}
.board-nav > ul > li span:hover {
  background-color: #ffa518;
  color: #fff;
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.list-board {
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: start;
  width: 1400px;
  min-height: 800px;
  padding: 50px 30px;
}
/*글쓰기 전용 css*/
.write-wrap {
  display: flex;
  justify-content: end;
  margin-right: 50px;
}
.write-wrap > a {
  border-radius: 30px;
  color: var(--point1);
  border: 2px solid #ffa518;
  padding: 5px 30px;
}
.write-wrap > a:hover {
  background-color: #ffa518;
  color: var(--gray8);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
/*자유게시판 리스트*/
.board-all-wrap {
  width: 100%;
}
.board-all-wrap > div {
  padding: 30px 20px;
}
.list-list {
  border: 2px solid #ffa518;
  border-radius: 15px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}
.start {
  display: flex;
  flex-direction: column;
}
.start > div {
  margin: 10px;
}
.end {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 10px;
}
.end > div {
  margin: 10px;
  padding-top: 18px;
}
