<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.board.model.dao.BoardDao">
	<select id="selectBoardList" resultType="board">
		select * from 
			(select rownum as rnum, b.* from 
    			(select board_no,
    				    board_tag,
    				    board_title,
    				    board_content,
    				    board_thumb,
    				    read_count,
    				    (case  
							when(trunc((sysdate - reg_date)*24*60)) <![CDATA[ < ]]> 60 
							then(trunc((sysdate - reg_date)*24*60))||'분전' 
							when(trunc((sysdate - reg_date)*24)) <![CDATA[ < ]]> 24 
							then(trunc((sysdate - reg_date)*24))||'시간전' 
							when trunc((sysdate - reg_date)) <![CDATA[ < ]]> 30 
							then trunc((sysdate - reg_date)) || '일전' 
    						when trunc((sysdate - reg_date) / 30) <![CDATA[ < ]]> 12 
    						then trunc((sysdate - reg_date) / 30) || '개월전' 
    						else trunc((sysdate - reg_date) / 365) || '년전'
						end)as reg_date,
    				    member_nickname,
    				    (select count(*) from board_like where board_like.board_no = board.board_no) like_count 
        		from board 
        		<if test="tag != 0">
        			where board_tag = #{tag}
        		</if>
        		order by board_no desc) b ) 
		where rnum between #{start} and #{end}
	</select>
	<select id="totalCount" resultType="int">
		select count(*) from board <if test="tag!=0">where board_tag=#{tag}</if>
	</select>
	<select id="selectBoardNo">
	select max(board_no) from board
	</select>
	<insert id="insertBoard">
		insert into board values(board_seq.nextval,#{boardTag},#{boardTitle},#{boardContent},#{boardThumb},0,sysdate,#{memberNickname})
	</insert>
	<insert id="insertBoardFile">
		insert into board_file values(board_file_seq.nextval,#{boardNo},#{filename},#{filepath})
	</insert>
	<select id="selectOneBoard" resultType="board">
		select 
			board_no,
			board_tag,
			board_title,
			board_content,
			read_count,
			(case  
				when(trunc((sysdate - reg_date)*24*60)) <![CDATA[ < ]]> 60 
				then(trunc((sysdate - reg_date)*24*60))||'분전' 
				when(trunc((sysdate - reg_date)*24)) <![CDATA[ < ]]> 24 
				then(trunc((sysdate - reg_date)*24))||'시간전' 
				when trunc((sysdate - reg_date)) <![CDATA[ < ]]> 30 
				then trunc((sysdate - reg_date)) || '일전' 
    			when trunc((sysdate - reg_date) / 30) <![CDATA[ < ]]> 12 
    			then trunc((sysdate - reg_date) / 30) || '개월전' 
    			else trunc((sysdate - reg_date) / 365) || '년전'
			end)as reg_date,
			member_nickname,
			member_profile
		from board
		join member using(member_nickname)
		where board_no=#{boardNo}
	</select>
	<select id="selectFileImage" resultType="boardFile">
		select * from board_file where board_no =#{boardNo}
	</select>
	<update id="updateBoardCount">
		update board set read_count = read_count+1 where board_no = #{boardNo}
	</update>
</mapper>
