<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.board.model.dao.BoardDao">
	<select id="selectBoardList" resultType="board">
		select * from 
			(select rownum as rnum, b.* from 
    			(select board_no,
    				    board_tag,
    				    board_title,
    				    board_content,
    				    board_thumb,
    				    read_count,
    				    to_char(reg_date,'yyyy-mm-dd hh:mm:ss')as reg_date,
    				    member_nickname,
    				    (select count(*) from board_like where board_like.board_no = board.board_no) like_count 
        		from board 
        		<if test="tag != 0">
        			where board_tag = #{tag}
        		</if>
        		order by board_no desc) b ) 
		where rnum between #{start} and #{end}
	</select>
	<select id="totalCount" resultType="int">
		select count(*) from board <if test="tag!=0">where board_tag=#{tag}</if>
	</select>
	<select id="selectBoardNo">
	select max(board_no) from board
	</select>
	<insert id="insertBoard">
		insert into board values(board_seq.nextval,#{boardTag},#{boardTitle},#{boardContent},#{boardThumb},0,sysdate,#{memberNickname})
	</insert>
	<insert id="insertBoardFile">
		insert into board_file values(board_file_seq.nextval,#{boardNo},#{filename},#{filepath})
	</insert>
</mapper>
