<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.inquiry.model.dao.InquiryDao">
	<select id="totalCount" resultType="int">
		select count(*) from inquiry
	</select>
	<select id="selectInquiryList" resultType="inquiry">
		select * from (select rownum as rnum, b.* from(SELECT inquiry_no,inquiry_title,to_char(inquiry_reg_date)as inquiry_req_date,inquiry_type, member_email from inquiry order by inquiry_no desc)b) where rnum BETWEEN #{start} and #{end}
	</select>
	<insert id="insertInquiry">
		insert into inquiry values(inquiry_seq.nextval, #{inquiryTitle},#{inquiryContent},sysdate,#{inquiryType},#{memberEmail})
	</insert>
</mapper>
