<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.inquiry.model.dao.InquiryDao">
	<select id="totalCount" resultType="int">
		select count(*) from inquiry
	</select>
	<select id="selectInquiryList" resultType="inquiry">
		select * from (select rownum as rnum, b.* from(SELECT inquiry_no,inquiry_title,to_char(inquiry_reg_date)as inquiry_reg_date,inquiry_type, member_email from inquiry order by inquiry_no desc)b) where rnum BETWEEN #{start} and #{end}
	</select>
	<insert id="insertInquiry">
		insert into inquiry values(inquiry_seq.nextval, #{inquiryTitle},#{inquiryContent},sysdate,#{inquiryType},#{memberEmail})
	</insert>
	<select id="selectOneInquiry" resultMap="getInquiry">
		select * from inquiry where inquiry_no=#{inquiryNo}
	</select>
	<select id="selectInquiryCommentList" resultType="inquiryComment">
		select inquiry_comment_no, INQUIRY_COMMENT_CONTENT,INQUIRY_COMMENT_REG_DATE,MEMBER_EMAIL from inquiry_comment where inquiry_no=#{inquiryNo} order by inquiry_comment_reg_date
	</select>
	<resultMap type="inquiry" id="getInquiry">
		<result column="INQUIRY_NO" property="inquiryNo"/>
		<result column="INQUIRY_title" property="inquiryTitle"/>
		<result column="INQUIRY_content" property="inquiryContent"/>
		<result column="INQUIRY_reg_date" property="inquiryRegDate"/>
		<result column="INQUIRY_type" property="inquiryType"/>
		<result column="member_email" property="memberEmail"/>
		<collection property="inquiryCommentList" select="selectInquiryCommentList" column="inquiry_no" javaType="java.util.List" ofType="inquiryComment"/>
	</resultMap>
	<delete id="deleteInquiry">
		delete from inquiry where inquiry_no=#{inquiryNo}	
	</delete>
	<update id="updateInquiry">
		update inquiry set inquiry_title=#{inquiryTitle}, inquiry_content=#{inquiryContent}, inquiry_type=#{inquiryType} where inquiry_no=#{inquiryNo}
	</update>
	<insert id="insertInquiryComment">
		insert into inquiry_comment values(inquiry_comment_seq.nextval,#{inquiryNo},#{inquiryCommentContent},sysdate,#{memberEmail})	
	</insert>
	<update id="updateInquiryComment">
		update inquiry_comment set inquiry_comment_content=#{inquiryCommentContent} where inquiry_comment_no=#{inquiryCommentNo}
	</update>
	<delete id="deleteInquiryComment">
		delete from inquiry_comment where inquiry_comment_no=#{inquiryCommentNo}
	</delete>
	<select id="searchTotalCount" resultType="int">
		select count(*) from inquiry
		<choose>
			<when test="option==0">
				<choose>
					<when test="type.equals('all')">
						where inquiry_title like '%'||#{keyword}||'%' or inquiry_content like '%'||#{keyword}||'%' or member_email like '%'||#{keyword}||'%'
					</when>
					<when test="type.equals('title')">
						where inquiry_title like '%'||#{keyword}||'%'
					</when>
					<when test="type.equals('writer')">
						where member_email like '%'||#{keyword}||'%'
					</when>
					<when test="type.equals('titleContent')">
						where inquiry_title like '%'||#{keyword}||'%' or inquiry_content like '%'||#{keyword}||'%'
					</when>
					<when test="type.equals('content')">
						where inquiry_content like '%'||#{keyword}||'%'
					</when>
				</choose>
			</when>
			<otherwise>
				<choose>
					<when test="type.equals('all')">
						where (inquiry_title like '%'||#{keyword}||'%' or inquiry_content like '%'||#{keyword}||'%' or member_email like '%'||#{keyword}||'%')and inquiry_type=#{option}
					</when>
					<when test="type.equals('title')">
						where inquiry_title like '%'||#{keyword}||'%' and inquiry_type=#{option}
					</when>
					<when test="type.equals('writer')">
						where member_email like '%'||#{keyword}||'%' and inquiry_type=#{option}
					</when>
					<when test="type.equals('titleContent')">
						where (inquiry_title like '%'||#{keyword}||'%' or inquiry_content like '%'||#{keyword}||'%'}) and inquiry_type=#{option}
					</when>
					<when test="type.equals('content')">
						where inquiry_content like '%'||#{keyword}||'%' and inquiry_type=#{option}
					</when>
				</choose>
			</otherwise>
		</choose>
	</select>
	<select id="searchInquiryList" resultType="inquiry">
		select * from (select rownum as rnum, b.* from(SELECT inquiry_no,inquiry_title,to_char(inquiry_reg_date)as inquiry_reg_date,inquiry_type, member_email from inquiry 
		<choose>
			<when test="option==0">
				<choose>
					<when test="type.equals('all')">
						where inquiry_title like '%'||#{keyword}||'%' or inquiry_content like '%'||#{keyword}||'%' or member_email like '%'||#{keyword}||'%'
					</when>
					<when test="type.equals('title')">
						where inquiry_title like '%'||#{keyword}||'%'
					</when>
					<when test="type.equals('writer')">
						where member_email like '%'||#{keyword}||'%'
					</when>
					<when test="type.equals('titleContent')">
						where inquiry_title like '%'||#{keyword}||'%' or inquiry_content like '%'||#{keyword}||'%'
					</when>
					<when test="type.equals('content')">
						where inquiry_content like '%'||#{keyword}||'%'
					</when>
				</choose>
			</when>
			<otherwise>
				<choose>
					<when test="type.equals('all')">
						where (inquiry_title like '%'||#{keyword}||'%' or inquiry_content like '%'||#{keyword}||'%' or member_email like '%'||#{keyword}||'%')and inquiry_type=#{option}
					</when>
					<when test="type.equals('title')">
						where inquiry_title like '%'||#{keyword}||'%' and inquiry_type=#{option}
					</when>
					<when test="type.equals('writer')">
						where member_email like '%'||#{keyword}||'%' and inquiry_type=#{option}
					</when>
					<when test="type.equals('titleContent')">
						where (inquiry_title like '%'||#{keyword}||'%' or inquiry_content like '%'||#{keyword}||'%') and inquiry_type=#{option}
					</when>
					<when test="type.equals('content')">
						where inquiry_content like '%'||#{keyword}||'%' and inquiry_type=#{option}
					</when>
				</choose>
			</otherwise>
		</choose>
		order by inquiry_no desc)b) where (rnum BETWEEN #{start} and #{end})
	</select>
</mapper>
