<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.market.model.dao.MarketDao">
	<!-- 승환 -->
	<select id="totalCountMagnum" resultType="int">
		select count(*) from product
	</select>
	<insert id="insertProduct">
		insert into product values (product_seq.nextval,#{productName},#{typeCategory},#{mainCategory},#{productPrice},#{productThumb},#{productDetail},sysdate,#{productShow},#{memberEmail})
	</insert>
	<select id="selectProductListMagnum" resultType="product">
		select * from (select rownum as rnum, b.* from(SELECT * from product order by product_no desc)b) where rnum BETWEEN #{start} and #{end}
	</select>
	<update id="updateShow">
		update product set product_show=#{productShow} where product_no=#{productNo}
	</update>
	<select id="selectOneProductMagnum" resultType="product">
		select product_name, type_category, main_category, product_price, product_thumb, product_detail, product_show, member_email from product where product_no=#{productNo}
	</select>
	<update id="updateProduct">
		update product set product_name=#{productName},type_category=#{typeCategory},main_category=#{mainCategory},product_price=#{productPrice},product_thumb=#{productThumb},product_detail=#{productDetail}, product_show=#{productShow} where product_no=#{productNo}
	</update>
	<delete id="deleteProduct">
		delete from product where product_no=#{productNo}
	</delete>
	<select id="totalQnaCountMagnum" resultType="int">
		select count(*) from qna
		<choose>
			<when test="answer==true">
			where qna_no in (select qna_answer.qna_no from qna_answer)
			</when>
			<otherwise>
			where qna_no not in (select qna_answer.qna_no from qna_answer)
			</otherwise>
		</choose>
	</select>
	<select id="selectQnaListMagnum" resultType="qna">
		select * from (select rownum as rnum, b.* from(SELECT qna_no, product_no, qna_type, qna_title, qna_public, qna_reg_date, qna_writer from qna
		<choose>
			<when test="answer==true">
				where qna_no in (select qna_answer.qna_no from qna_answer)
			</when>
			<otherwise>
				where qna_no not in (select qna_answer.qna_no from qna_answer)
			</otherwise>
		</choose>
		order by product_no desc)b) where rnum BETWEEN #{start} and #{end}
	</select>
	<select id="selectOneQnaMagnum" resultType="qna">
		select product_no, qna_type, qna_title, qna_content, qna_reg_date, qna_writer, qna_answer_content, qna_answer_reg_date, qna_answer_writer from qna left join qna_answer using(qna_no) where qna_no=#{qnaNo}
	</select>
	

	<!-- 원희 -->
	<select id="totalCount" resultType="int">
		select count(*) from product where product_show='Y'
		<if test= "typeCategory!=0">
			and type_category=#{typeCategory}
		</if>
		<if test= "mainCategory!='all'">
		 	and main_category=#{mainCategory}
		</if>
	</select>
	<select id="selectProductList" resultType="product">
		select * from
			(select rownum as rnum, p.* from
				(select product_no, product_name, product_price, product_thumb from product
					where product_show='Y'
					<if test= "typeCategory!=0">
						and type_category=#{typeCategory}
					</if>
					<if test= "mainCategory!='all'">
					 	and main_category=#{mainCategory}
					</if>
					<if test= "filterType==1"> 
					 	order by product_no desc
					</if>
					<if test= "filterType==2"> 
					 	order by product_price, product_no desc
					</if>
					<if test= "filterType==3"> 
					 	order by product_price desc, product_no desc
					</if>
					)p)
		where rnum between #{start} and #{end}
	</select>
	<select id="selectOneProduct" resultType="product">
		select product_no, product_name, type_category, main_category, product_price, product_thumb, product_detail from product where product_no=#{productNo}
	</select>
<!-- Q&A -->
	<insert id="insertQna">
		insert into qna values(qna_seq.nextval,#{productNo},#{qnaType},#{qnaTitle},#{qnaContent},#{qnaPublic},sysdate,#{qnaWriter})
	</insert>
	<select id="totalQnaCount" resultType="int">
		select count(*) from qna where product_no=#{productNo}
	</select>
	<select id="selectQnaList" resultType="qna">
		select * from
			(select rownum as rnum, q.* from
				(select qna_no,qna_type,qna_title,qna_content,qna_public,to_char(qna_reg_date,'YYYY-MM-DD hh24:mm:ss') as qna_reg_date,qna_writer
				,qna_answer_content,to_char(qna_answer_reg_date,'YYYY-MM-DD hh24:mm:ss') as qna_answer_reg_date from qna left join qna_answer using(qna_no) 
				where product_no=#{productNo} order by qna_no desc) q )
		where rnum between #{start} and #{end}
	</select>
	<select id="selectQna" resultType="qna">
		select qna_type,qna_title,qna_content,qna_public
		,qna_answer_content,to_char(qna_answer_reg_date,'YYYY-MM-DD hh24:mm:ss') as qna_answer_reg_date from qna left join qna_answer using(qna_no)
		where qna_no=#{qnaNo}
	</select>
	<update id="updateQna">
		update qna set qna_type=#{qnaType},qna_title=#{qnaTitle},qna_content=#{qnaContent},qna_public=#{qnaPublic} where qna_no=#{qnaNo}
	</update>
	<delete id="deleteQna">
		delete from qna where qna_no=#{qnaNo}
	</delete>
	<insert id="insertQnaAnswer">
		insert into qna_answer values(qna_answer_seq.nextval, #{qnaNo}, #{qnaAnswerContent}, sysdate, #{qnaAnswerWriter})
	</insert>
	<update id="updateQnaAnswer">
		update qna_answer set qna_answer_content=#{qnaAnswerContent} where qna_no=#{qnaNo}
	</update>
	<delete id="deleteQnaAnswer">
		delete from qna_answer where qna_no=#{qnaNo}
	</delete>
<!-- 장바구니 -->
	<select id="searchCart" resultType="int">
		select count(*) from cart where member_email=#{memberEmail} and product_no=#{productNo}
	</select>
	<insert id="insertCart">
		insert into cart values(cart_seq.nextval,#{productNo},#{productCartCount},#{memberEmail})
	</insert>
	<select id="selectCartList" resultType="cart">
		select cart_no,product_no,product_cart_count,product_name,product_price,product_thumb from
			(select * from cart where member_email=#{memberEmail})c
		left join product using(product_no) order by 1
	</select>
	<update id="updateProductCount">
		update cart set product_cart_count=product_cart_count + #{productCartCount} where member_email=#{memberEmail} and product_no=#{productNo}
	</update>
	<delete id="deleteCart">
		delete from cart where cart_no=#{cartNo}
	</delete>
<!-- 결제 -->
	<select id="selectPayList" resultType="cart">
		select cart_no,product_no,product_cart_count,product_name,product_price,product_thumb from
			(select * from cart where cart_no=#{cartNo})c
		left join product using(product_no)
	</select>
	<select id="selectPayer" resultType="member">
		select member_name, member_addr1, member_addr2, member_addr3 from member where member_email=#{memberEmail}
	</select>
	<insert id="insertPayment">
		insert into pay values(#{pay.payUid},#{pay.totalPrice},sysdate,#{pay.payAddr1},#{pay.payAddr2},#{pay.payAddr3},#{pay.payName},1,#{pay.memberEmail},#{payProductNo})
	</insert>
	<delete id="payDeleteCart">
		delete from cart where product_no=#{payProductNo} and member_email=#{memberEmail}
	</delete>
</mapper>
