<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.market.model.dao.MarketDao">
	<select id="totalCountMagnum" resultType="int">
		select count(*) from product
	</select>
	<insert id="insertProduct">
		insert into product values (product_seq.nextval,#{productName},#{typeCategory},#{mainCategory},#{productPrice},#{productThumb},#{productDetail},sysdate,#{productShow},#{memberEmail})
	</insert>
	<select id="selectProductListMagnum" resultType="product">
		select * from (select rownum as rnum, b.* from(SELECT * from product order by product_no desc)b) where rnum BETWEEN #{start} and #{end}
	</select>
	
	
	<select id="totalCount" resultType="int">
		select count(*) from product where product_show='Y'
		<if test= "typeCategory!=0">
			and type_category=#{typeCategory}
		</if>
		<if test= "mainCategory!='all'">
		 	and main_category=#{mainCategory}
		</if>
	</select>
	<select id="selectProductList" resultType="product">
		select * from
			(select rownum as rnum, p.* from
				(select product_no, product_name, product_price, product_thumb from product
					where product_show='Y'
					<if test= "typeCategory!=0">
						and type_category=#{typeCategory}
					</if>
					<if test= "mainCategory!='all'">
					 	and main_category=#{mainCategory}
					</if>
					 order by product_no desc)p)
		where rnum between #{start} and #{end}
	</select>
	<select id="selectOneProduct" resultType="product">
		select product_no, product_name, type_category, main_category, product_price, product_thumb, product_detail from product where product_no=#{productNo}
	</select>
	<update id="updateShow">
		update product set product_show=#{productShow} where product_no=#{productNo}
	</update>
</mapper>
