/*
@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "TTLaundryGothicB";
}
*/
/*PetService,AllMap*/
.nav-box {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}
.nav-box > ul {
  margin: 0;
}
.nav-box > ul {
  text-align: center;
  display: flex;
}
.nav-box > ul > li {
  border: 2px solid #ffa518;
  border-radius: 10px;
  margin: 0 30px;
  line-height: 40px;
  font-family: ns-b;
  color: #ffa518;
}
.nav-box > ul > li > a {
  font-weight: bold;
  color: #ffa518;
  padding: 5px 20px;
}
.nav-box > ul > li:hover {
  background-color: #ffa518;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.nav-box > ul > li:hover > a {
  color: #fff;
}
.service-container {
  width: 1200px;
  border-radius: 10px;
  padding: 50px;
  margin: 30px auto;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
}
/* Map.css */
#map {
  margin: 0 auto;
  width: 1300px;
  height: 700px;
}

#menu_wrap {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  color: black;
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 100;
  width: 400px;
  height: 450px;
}

#keyword {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 3px solid #ffa518;
}

#searchButton {
  margin-left: 5px;
  margin-bottom: 10px;
  width: 10%;
  height: 30px;
  background: #ffa518;
  border: none;
  font-weight: bold;
  color: white;
}

#placesList {
  border: 2px solid #ffa518;
  margin: 0 auto;
  list-style-type: none;
  max-height: 350px;
  overflow-y: auto;
  padding: 0;
  border-radius: 5px;
}

#pagination {
  text-align: center;
  margin-top: 10px;
}

/*MBTI*/
.mbti-container {
  display: flex;
  justify-content: center;
}

.dog-mbti {
  width: 700px;
  border-radius: 10px;
  padding: 50px;
  margin: 30px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #ffa518;
}
.start-btn {
  font-size: x-large;
  font-weight: bolder;
  border-radius: 20px;
  border: 2px solid #ffa518;
  margin: 20px auto;
  height: 40px;
  padding: 5px 10px;
}
.start-btn:hover {
  background-color: #ffa518;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 5px 10px;
}
.start-btn > span {
  padding: 30px;
}
.qna-box {
  justify-content: center;
}
.question {
  font-size: x-large;
  font-weight: bolder;
}
.answer-box {
  font-size: large;
  font-weight: bolder;
  border-radius: 20px;
  border: 2px solid #ffa518;
  height: min-content 50px;
  line-height: 50px;
}

.answer-box:hover {
  background-color: #ffa518;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/*RecordList, HealthTest*/
.container {
  display: flex;
  justify-content: center;
}

.service-wrap {
  width: 1000px;
  border-radius: 10px;
  padding: 50px;
  margin: 30px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #5799ff;
}

/*HealthTest*/

.test-box {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}
.test-box > * {
  border: 3px solid transparent;
  border-radius: 20px;
}
.set-dog,
.set-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.set-dog > img {
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
}
.set-cat {
  width: 300px;
}
.set-cat > img {
  margin-bottom: 20px;
  width: 250px;
  height: 250px;
}
.test-box > * > span {
  font-size: larger;
  font-weight: bold;
}
.test-box > *:hover {
  border: 3px solid #5799ff;
  border-radius: 20px;
  cursor: pointer;
}
.petInfo-container {
  justify-content: center;
}
.pet-input-box {
  margin: 0 auto;
  width: 500px;
  margin-top: 10px;
  font-size: larger;
  border-radius: 20px;
  border: 3px solid #5799ff;
  padding: 10px;
  font-weight: bold;
}
.petTest-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: #5799ff;
  border: 3px solid #5799ff;
  border-radius: 20px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.petTest-btn:hover {
  background-color: #5799ff;
  color: white;
}

.PetName-input {
}
