/*PetService,AllMap*/
.nav-box {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}
.nav-box > ul {
  margin: 0;
}
.nav-box > ul {
  text-align: center;
  display: flex;
}
.nav-box > ul > li {
  border: 2px solid #ffa518;
  border-radius: 10px;
  margin: 0 30px;
  line-height: 40px;
  font-family: ns-b;
  color: #ffa518;
}
.nav-box > ul > li > a {
  font-weight: bold;
  color: #ffa518;
  padding: 5px 20px;
}
.nav-box > ul > li:hover {
  background-color: #ffa518;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.nav-box > ul > li:hover > a {
  color: #fff;
}
/*MBTI*/
.mbti-container {
  display: flex;
  justify-content: center;
  height: 800px;
}

.dog-mbti {
  width: 700px;
  border: 2px solid #ffa518;
  border-radius: 10px;
  padding: 50px;
  margin: 30px;
}
