/*
@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "TTLaundryGothicB";
}
*/
/*PetService,AllMap*/
#allmap-box {
  position: relative;
  text-align: center;
  color: #ffa518;
  width: 1300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 10px;
  z-index: 5;
}

.nav-box {
  display: flex;
  justify-content: center;
}

.nav-box > ul {
  margin: 0;
}

.nav-box > ul {
  text-align: center;
  display: flex;
}

.nav-box > ul > li {
  border: 2px solid #ffa518;
  border-radius: 10px;
  margin: 0 30px;
  line-height: 40px;
  font-family: ns-b;
  color: #ffa518;
}

.nav-box > ul > li > a {
  font-weight: bold;
  color: #ffa518;
  padding: 5px 20px;
}

.nav-box > ul > li:hover {
  background-color: #ffa518;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-box > ul > li:hover > a {
  color: #fff;
  transition: background-color 0.3s;
}

.service-container {
  width: 1200px;
  min-height: 480px;
  border-radius: 10px;
  padding: 50px;
  margin: 30px auto;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
}
/*메인 버튼*/
.sm-btn1,
.sm-btn2,
.sm-btn3 {
  position: absolute;
}
.sm-btn1 {
  width: 280px;
  height: 90px;
  top: 180px;
  right: 820px;
  cursor: pointer;
  opacity: 0;
}

.sm-btn2 {
  width: 280px;
  height: 50px;
  top: 280px;
  right: 820px;
  cursor: pointer;
  opacity: 0;
}
.sm-btn3 {
  width: 280px;
  height: 100px;
  top: 220px;
  right: 130px;
  cursor: pointer;
  opacity: 0;
}
/* Map.css */
#map {
  margin: 0 auto;
  width: 1300px;
  height: 550px;
}

#menu_wrap {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  color: black;
  text-align: left;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 100;
  width: 26%;
  height: 40%;
  cursor: pointer;
}
#menu_wrap > button :hover {
  cursor: pointer;
}
#menu_wrap:hover {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  color: black;
  text-align: left;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 100;
  width: 40%;
  height: 70%;
  cursor: pointer;
}

#keyword {
  width: 60%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 3px solid #ffa518;
}

#searchButton {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 20%;
  height: 30px;
  background: #ffa518;
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
#searchButton :hover {
  cursor: pointer;
}
#placesList {
  border: 2px solid #ffa518;
  margin: 0 auto;
  list-style-type: none;
  height: 70%;
  overflow-y: auto;
  padding: 0;
  border-radius: 5px;
}

#pagination {
  text-align: center;
  margin-top: 10px;
}

/*MBTI*/
.mbti-container {
  display: flex;
  justify-content: center;
}

.dog-mbti {
  width: 900px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #ffa518;
}
.start-btn {
  font-size: x-large;
  font-weight: bolder;
  border-radius: 20px;
  border: 2px solid #ffa518;
  background-color: #ffa518;
  color: #fff;
  margin: 20px auto;
  height: 40px;
  padding: 5px 10px;
  position: absolute;
  top: 390px;
  left: 360px;
}
.start-btn:hover {
  background-color: #ffa518;
  color: yellow;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s;
}
.start-btn > span {
  padding: 30px;
}
.qna-box {
  justify-content: center;
}
.question {
  font-size: x-large;
  font-weight: bolder;
}
.answer-box {
  font-size: large;
  font-weight: bolder;
  border-radius: 20px;
  border: 2px solid #ffa518;
  height: min-content 50px;
  line-height: 50px;
}

.answer-box:hover {
  background-color: #ffa518;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}
/*RecordList, HealthTest*/
.HT-container {
  display: flex;
  justify-content: center;
  min-height: 675px;
}

.service-wrap {
  width: 1000px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #5799ff;
}

/*HealthTest*/

.test-box {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}
.test-box > * {
  border: 3px solid transparent;
  border-radius: 20px;
}
.set-dog,
.set-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 350px;
}
.set-dog > img {
  width: 300px;
  height: 300px;
}
.set-cat {
  width: 300px;
}
.set-cat > img {
  width: 300px;
  height: 300px;
}
.test-box > * > span {
  font-size: larger;
  font-weight: bold;
}
.test-box > *:hover {
  border: 3px solid #5799ff;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.petInfo-container {
  justify-content: center;
}
.pet-input-box {
  margin: 0 auto;
  width: 500px;
  margin-top: 10px;
  font-size: larger;
  border-radius: 20px;
  border: 3px solid #5799ff;
  padding: 10px;
  font-weight: bold;
}
.petTest-btn {
  margin: 15px;
  padding: 10px 20px;
  background-color: white;
  color: #5799ff;
  border: 3px solid #5799ff;
  border-radius: 20px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.petTest-btn:hover {
  background-color: #5799ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.question-item.selected {
  background-color: #5799ff;
  color: white;
}
.question-item :hover {
  background-color: #5799ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.test-box2 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.test-box2 > div {
  width: 400px;
  font-weight: bold;
  border: 3px solid;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  font-size: larger;
}
.test-box2 > div:hover {
  background-color: #5799ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.result-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
  text-align: center;
}
.result-box > h1 {
  width: 1000px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.result-item {
  color: #fff;
  width: 45%;
  height: 110px;
  font-weight: bold;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  font-size: larger;
  transition: background-color 0.3s;
  margin: 10px;
}

.result-item:hover {
  background-color: #5799ff;
  color: white;
  cursor: pointer;
}
.detail-description {
  margin-top: 10px;
  font-size: smaller;
  color: #fff;
}
.weight-status {
  font-weight: bolder;
  font-size: larger;
  width: 1000px;
  margin: 20px;
}
.HT-Select {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #5799ff;
  font-size: large;
  font-weight: bold;
  color: #5799ff;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.HT-Select:hover {
  background-color: #f0f0f0;
}
.color-squares {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.square {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin: 5px;
}
.ps-btn1 {
  margin: 15px;
  padding: 5px 20px;
  background-color: white;
  color: #ffa518;
  border: 3px solid #ffa518;
  border-radius: 20px;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}
.ps-btn1:hover {
  background-color: #ffa518;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.lastBtn-box {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
}

.ps-btn2,
.saveResult-btn {
  margin: 15px;
  padding: 5px 20px;
  background-color: white;
  color: #5799ff;
  border: 3px solid #5799ff;
  border-radius: 20px;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ps-btn2:hover,
.saveResult-btn:hover {
  background-color: #5799ff;
  color: white;
}
.map-search-btn {
  margin: 15px;
  padding: 5px 20px;
  background-color: white;
  color: #5799ff;
  border: 3px solid #5799ff;
  font-size: small;
  font-weight: bold;
  cursor: pointer;
}
.map-search-btn1 {
  margin: 5px;
  padding: 5px 20px;
  background-color: var(--point1);
  color: white;
  border-radius: 10px;
  border: none;
  font-size: small;
  font-weight: bold;
  cursor: pointer;
}
.record-btn {
  margin: 15px;
  padding: 5px 20px;
  background-color: white;
  color: #5799ff;
  border: 3px solid #5799ff;
  font-size: small;
  font-weight: bold;
  cursor: pointer;
}
.record-btn > * {
  color: #5799ff;
}
.health-record-sign {
  background-color: var(--gray6);
  color: #fff;
  width: 60%;
  margin-left: 200px;
  border-radius: 5px;
}
.health-record-sign:hover {
  color: var(--point1);
  cursor: pointer;
}
