body {
  color: var(--gray1);
  font: 14px/24px;
}
.admin-tbl {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  margin: 100px auto;
  margin-top: 50px;
}
.admin-tbl > thead > tr > th {
  background-color: var(--point1);
  height: 40px;
  color: #fff;
  text-align: center;
}
.admin-tbl > tbody > tr > th,
td {
  padding: 6px 15px;
  text-align: center;
  font-weight: bold;
  color: var(--gray1);
}
.admin-tbl > thead > tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
.admin-tbl > thead > tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
.admin-tbl > tbody > tr:nth-child(even) td {
  background: var(--main2);
}
.admin-tbl > thead,
tbody > tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
.admin-tbl > thead,
tbody > tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
.admin-write-wrap {
  width: 80%;
  margin: 100px auto;
  margin-top: 40px;
  margin-bottom: 0px;
}
.admin-write {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: var(--main1);
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  color: #fff;
}
.admin-write > a {
  color: #fff;
  font-weight: bold;
  padding-left: 27.5px;
  padding-right: 27.5px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.admin-title {
  text-align: center;
  font-size: xx-large;
  color: var(--point1);
  font-family: ns-b;
  margin-top: 50px;
}
.admin-input-item {
  width: 100%;
  margin: 200px auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  gap: 10px;
}
.admin-input-item > input {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  border-bottom: 1px solid var(--gray5);
  padding: 0px;
  font-weight: bold;
}
.admin-input-wrap > input[type="radio"] :checked {
  background-color: var(--point1);
}
#inquiryTitle {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  padding: 8px 0px;
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.admin-frm {
  margin: 100px auto;
  margin-top: 50px;
  margin-bottom: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  width: 80%;
}
.admin-frm > tbody > tr > th {
  margin-left: 40px;
  width: 20%;
  box-sizing: border-box;
  background-color: var(--point1);
}
.admin-frm > tbody > tr:nth-child(even) th {
  background: var(--main1);
}
.admin-frm > tbody > tr:first-child th {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.admin-frm > tbody > tr > td {
  width: 20%;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
}
.admin-button-zone {
  overflow: hidden;
  width: 80%;
  margin: 100px auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.admin-write-submit {
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  background-color: var(--point1);
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  color: #fff;
  float: right;
}
.inquiry-quill-editor {
  width: 80%;
  margin: 100px auto;
  margin-bottom: 10px;
  margin-top: 0;
  box-sizing: border-box;
}
.admin-radio-td {
  text-align: center;
  font-weight: bold;
}
.inquiry-tilte-td {
  padding: 0;
}
.inquiry-image {
  width: 80%;
  margin: 100px auto;
  margin-top: 0px;
}
#inquiry-title {
  height: 50px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.admin-write-undo {
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: var(--main1);
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  color: #fff;
  float: right;
}
#admin-delete {
  margin-right: 0;
  margin-left: 10px;
  font-size: 16px;
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
#admin-update-btn {
  color: #fff;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.inquiry-sub-title {
  text-align: center;
  font-size: x-large;
  color: var(--point1);
  font-family: ns-b;
}
button {
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.inquiry-noComment {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
  font-weight: bold;
}
.inquiry-comment-input {
  width: 80%;
  margin: 100px auto;
  overflow: hidden;
}
.inquiry-comment-input > * {
  float: left;
}
.inquiry-comment-left {
  font-size: large;
  font-weight: bold;
  background-color: var(--main1);
  color: #fff;
  border-radius: 50px;
  width: 15%;
  text-align: center;
}
.inquiry-comment-left > p {
  line-height: 50px;
}
.inquiry-comment-right {
  box-sizing: border-box;
  float: right;
  width: 80%;
}
.inquiry-textarea {
  width: 85%;
  float: left;
}
.inquiry-comment-right > .inquiry-textarea > textarea {
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  resize: none;
  height: 50px;
  border-color: var(--point1);
  border-radius: 10px;
}
.inquiry-button-zone {
  float: right;
  width: 15%;
}
#inquiry-comment-button {
  margin: 0;
  height: 50px;
}
#link-product-regist {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.admin-product-wrap > * {
  display: flex;
  gap: 10px;
  font-weight: bold;
  margin-top: 5px;
}
.admin-product-regist-wrap {
  width: 80%;
  margin: 100px auto;
  margin-bottom: 0;
  margin-top: 0;
}
.admin-product-regist-wrap > * {
  margin-top: 10px;
}
.admin-product-label {
  color: var(--point1);
}
.admin-thumb-wrap > img {
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.admin-product-regist-wrap input {
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.admin-product-regist-wrap label {
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.pageNavi-ul > * {
  display: flex;
  gap: 20px;
  font-weight: bold;
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.pageNavi-frm {
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}
