/*ProductList*/
.page-title {
  text-align: center;
  margin: 40px;
  font-size: 25px;
  font-family: ns-b;
  color: #ffa518;
}
.productList-wrap {
  width: 1400px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.type-nav {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}
.type-nav > ul {
  margin: 0;
}
.type-nav > ul > li {
  text-align: center;
}
.type-nav > ul > li > span {
  border: 2px solid #ffa518;
  border-radius: 10px;
  margin: 0;
  line-height: 40px;
  font-family: ns-b;
  color: #ffa518;
  padding: 5px 50px;
}
.type-nav > ul > li > span:hover {
  background-color: #ffa518;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.main-nav {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
.main-nav > ul > li {
  text-align: center;
  margin: 0;
  /*border: 1px solid #ffa518;*/
}
.main-nav > ul > li > span {
  padding: 3px 20px;
  color: #ffa518;
  line-height: 30px;
}
.main-nav > ul > li > span:hover {
  background-color: #ffbe58;
  color: #fff;
  cursor: pointer;
}

.best-item {
  height: 250px;
  width: 100%;
  background-color: #ffd697;
}

.productList-title {
  width: 100%;
  font-size: 14px;
}
.productList-title > .productList-category > a {
  color: #000;
  margin: 0 3px;
}
.productList-filter {
  display: flex;
  justify-content: space-between;
}
.productList-filter > .number {
  height: 25px;
}
.productList-filter > .number > .text {
  vertical-align: middle;
  font-size: 14px;
  line-height: 25px;
}
.productList-filter > .number > .icon > svg {
  vertical-align: middle;
  font-size: 16px;
  margin: 3px;
}
.filter {
  display: flex;
}
.filter > * {
  margin: 0 10px;
}
.productList-filter > .filter > a {
  color: #000;
}
.productList-filter > .filter > a:hover {
  color: #ffa518;
  font-family: ns-b;
}
.productList-filter > .filter > .now {
  color: #ffa518;
  font-family: ns-b;
}

.productList-content {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap; /*width 넘어가면 아래로*/
}
.product-wrap {
  /*border: 1px solid #ccc;*/
  padding: 10px;
  width: 200px;
  margin: 0px 30px;
  margin-bottom: 10px;
}
.product-wrap:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.product-wrap > .product-thumb {
  width: 200px;
  height: 200px;
  align-self: center;
  position: relative;
}
.product-wrap > .product-thumb > img {
  width: 100%;
  align-self: center;
}
.product-wrap > .product-info {
  width: 100%;
}
.product-wrap > .product-info > * {
  padding: 3px;
}
.product-wrap > .product-info > .product-name {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  overflow-wrap: break-word; /*영단어 줄바꿈*/
  font-size: 20px;
}
.product-wrap > .product-thumb > .product-like {
  text-align: right;
  margin-right: 5px;
  color: #fc1111;
  font-size: 24px;
  padding: 0;
  position: absolute;
  left: 87%;
}

/*ProductDetail*/
.line {
  height: 2px;
  width: 100%;
  background-color: #ffd697;
}
.productDetail-wrap {
  width: 100%;
}
.productDetail {
  display: flex;
  margin-top: 40px;
}
.productDetail > .product-thumb {
  width: 45%;
  margin-right: 60px;
}
.productDetail > .product-thumb > img {
  width: 100%;
}
.productDetail > .product-info {
  width: 45%;
}
.productDetail > .product-info > * {
  margin: 15px 0;
}
.productDetail > .product-info > .product-category > .typeCategory,
.mainCategory {
  cursor: pointer;
}
.productDetail > .product-info > .product-name {
  padding-bottom: 20px;
  font-size: 26px;
}
.productDetail > .product-info > .product-price {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.product-amount-wrap > * {
  font-size: 14px;
}
.amount-tbl {
  width: 100%;
}
.amount-tbl > tbody > tr > th,
td {
  text-align: left;
  font-weight: normal;
}
.amount-tbl > tbody > tr:first-child > th {
  font-weight: bold;
}
.amount-tbl th {
  width: 30%;
}
.productDetail > .product-info > .product-totalprice {
  padding: 10px 0;
  font-size: 20px;
}
.productDetail > .product-info > .product-btn {
  margin-top: 30px;
}
.product-btn {
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
}
.product-btn > a {
  border: 2px solid #ffa518;
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  font-size: 14px;
  margin: 0 20px;
  line-height: 40px;
  font-family: ns-b;
  color: #ffa518;
  padding: 5px 20px;
  cursor: pointer;
  text-align: center;
}
.product-btn > a:hover {
  background-color: #ffa518;
  color: #fff;
}

.detail-menu-wrap {
  display: flex;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ffd697;
}
.detail-menu-wrap li {
  float: left;
  padding: 15px;
  cursor: pointer;
  color: #000;
}
.tab:hover {
  background-color: #ffd697;
}
.detail-menu-wrap .active-tab {
  background-color: #ffd697;
  font-family: ns-b;
}
.tab-content {
  padding: 20px 50px;
  border: 1px solid #ffd697;
  border-top: none;
  margin-bottom: 40px;
}
.product-info > .product-name {
  border-bottom: 1px solid #ffd697;
}
.product-info > .product-totalprice {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
