.quantity {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 2px solid #ffa518;
  background-color: #ffa518;
  color: #fff;
  font-size: 16px;
}
.amount {
  text-align: center;
  width: 35px;
  height: 26px;
  border: 2px solid #ffa518;
  border-left: none;
  border-right: none;
  font-size: 16px;
}
