:root {
  /* main color */
  --main1: #ffbe58; /*빛 주황색 메인 색깔*/
  --point1: #ffa518; /*생생한 주황색 포인트 색깔*/
  --point2: #5799ff; /*빛 파란색 포인트 색깔*/
  --main2: #ffd697; /*창백한 주황색 포인트 색깔*/

  /*gray*/
  --gray1: #222222;
  --gray2: #555555;
  --gray3: #717171;
  --gray4: #8f8f8f;
  --gray5: #b7b7b7;
  --gray6: #d6d6d6;
  --gray7: #efefef;
  --gray8: #ffffff;

  /*line-color*/
  --line1: #222222;
  --line2: #d6d6d6;
  --line3: #eaeced;
  --line4: #f6f6f6;
  --line5: #f8f9fa;
}
@font-face {
  font-family: ns-l;
  src: url(/public/font/NotoSansKR-Light.ttf);
}
@font-face {
  font-family: ns-r;
  src: url(/public/font/NotoSansKR-Regular.ttf);
}
@font-face {
  font-family: ns-b;
  src: url(/public/font/NotoSansKR-Bold.ttf);
}
@font-face {
  font-family: ns-black;
  src: url(/public/font/NotoSansKR-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: ns-r;
  list-style-type: none;
}
a {
  text-decoration: none;
}

.warp {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 800px;
  position: relative;
  background-color: var(--gray8);
}

.header {
  background-color: var(--gray8);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 21;
}

.header > div {
  padding: 10px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header a {
  color: var(--main1);
}

.logo {
  margin-right: 24px;
}

.logo > a {
  font-family: ns-black;
  font-size: 28px;
}
.nav {
  flex: 1;
}

.nav > ul {
  display: flex;
  align-items: center;
}

.nav > ul > li {
  margin: 0px 15px;
  position: relative;
}
