:root {
  /* main color */
  --main1: #ffbe58; /*빛 주황색 메인 색깔*/
  --point1: #ffa518; /*생생한 주황색 포인트 색깔*/
  --point2: #5799ff; /*빛 파란색 포인트 색깔*/
  --main2: #ffd697; /*창백한 주황색 포인트 색깔*/

  /*gray*/
  --gray1: #222222;
  --gray2: #555555;
  --gray3: #717171;
  --gray4: #8f8f8f;
  --gray5: #b7b7b7;
  --gray6: #d6d6d6;
  --gray7: #efefef;
  --gray8: #ffffff;

  /*line-color*/
  --line1: #222222;
  --line2: #d6d6d6;
  --line3: #eaeced;
  --line4: #f6f6f6;
  --line5: #f8f9fa;
}
@font-face {
  font-family: ns-l;
  src: url(/public/font/NotoSansKR-Light.ttf);
}
@font-face {
  font-family: ns-r;
  src: url(/public/font/NotoSansKR-Regular.ttf);
}
@font-face {
  font-family: ns-b;
  src: url(/public/font/NotoSansKR-Bold.ttf);
}
@font-face {
  font-family: ns-black;
  src: url(/public/font/NotoSansKR-Black.ttf);
}
/*전체 css*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: ns-r;
  list-style-type: none;
}
a {
  text-decoration: none;
}

.wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 800px;
  position: relative;
  background-color: var(--gray8);
}
/*헤더*/
.header {
  background-color: var(--gray8);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 21;
}

.header > div {
  padding: 10px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header a {
  color: var(--main1);
  font-family: ns-b;
  font-size: 20px;
}

.logo {
  margin-right: 480px;
}

.nav {
  flex: 1;
}

.nav > ul {
  display: flex;
  align-items: center;
}

.nav > ul > li {
  margin: 0px 15px;
  position: relative;
}
.header a:hover {
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.user-menu {
  display: flex;
  align-items: center;
}
.user-menu > li {
  margin: 0px 15px;
  position: relative;
}
.user-menu > li > a:last-child {
  margin-left: 15px;
}
.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
}
.menu-bars {
  margin-right: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: var(--point1);
  border-top-left-radius: 15px;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 1;
  right: -100%;
  transition: 850ms;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-menu-items > li:first-child > a {
  color: var(--gray8);
  margin: 15px auto;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.nav-menu-items > li:first-child > a:hover {
  background-color: #fff;
  color: var(--point1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.nav-menu-items > li:first-child > a .nav-text {
  color: var(--gray8);
  padding: 8px 20px;
}

.nav-text a {
  color: var(--gray8);
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-text a:hover {
  background-color: #fff;
  color: var(--point1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.nav-menu-items {
  width: 100%;
  display: block;
}
.sub-items {
  display: none;
}
.nav-menu-items li:hover .sub-items {
  display: block;
  padding: 10px;
}
.up-btn > .scroll-to-top {
  background-color: #fff;
  border: 2px solid #ffa518;
  padding-top: 3px;
}
.up-btn > .scroll-to-top > svg path {
  fill: #ffa518;
}
/*풋터*/
.footer {
  background-color: var(--main1);
}
.footer > div {
  max-width: 1400px;
  padding: 20px 10px;
  margin: 0 auto;
  overflow: hidden;
}
.footer > div > p {
  margin: 10px 0px;
  font-family: ns-b;
  font-size: 16px;
  color: var(--gray8);
  float: right;
}
.footer > div > ul {
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.footer > div > ul > li {
  float: left;
}
.footer > div > ul > li > a {
  padding-right: 20px;
  color: var(--gray8);
}
/*메인*/
.search-wrap {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.search-input-wrap {
  display: flex;
  box-sizing: border-box;
  border: 2px solid #ffa518;
  border-radius: 15px;
  width: 500px;
  padding: 5px;
}
.search-btn {
  border-style: none;
  background-color: transparent;
}
.search-btn:hover {
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.search-input:hover {
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.search-icon {
  width: 45px;
  height: 45px;
  color: #ffa518;
  padding: 5px;
}
.search-input {
  border-style: none;
  width: 400px;
  text-align: center;
}
.commercial-wrap {
  box-sizing: border-box;
  margin: 30px auto;
}
.commercial-image {
  box-sizing: border-box;
}
.commercial-image > img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: 50% 40%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.commercial-text {
  padding: 200px 100px;
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  color: var(--gray8);
}
.commercial-text > p {
  font-size: 18px;
  font-weight: 300;
}
.map-wrap {
  margin: 30px auto;
  width: 95%;
}
.map-title {
  display: flex;
  flex-direction: column;
}
.map-title > span {
  margin-left: 60px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: bold;
  color: var(--point1);
}
.map-title > span:last-child {
  font-size: 16px;
  font-weight: 200;
}
.map-wrap > div:last-child > a > div {
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}
.map-wrap > div:last-child > a > div > img:first-child {
  width: 270px;
  height: 270px;
  margin-top: 132px;
  margin-left: 70px;
}
.map-wrap > div:last-child > a > div > img:last-child {
  margin-right: 120px;
}
.map-wrap > div:last-child a:hover {
  cursor: url("/public/image/cursorpaw.png") 16 16, auto;
}
.api-wrap {
  display: flex;
  justify-content: center;
  gap: 200px;
}
.weather-wrap {
  width: 500px;
  height: 500px;
  margin: 50px;
  background-color: var(--main1);
}
.video-wrap {
  width: 500px;
  height: 500px;
  margin: 50px;
  background-color: var(--main1);
}

.content {
  min-height: 100vh;
}
.market-preview-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
